beautifulsoup4
sentence-transformers 
torch 
Pillow
chromadb

pandas
chromadb
unsloth[cu124-py312]
google-generativeai

peft
trl
bitsandbytes
accelerate
datasets
tqdm
pyspellchecker
spellchecker
beautifulsoup4
lxml