beautifulsoup4
sentence-transformers 
torch 
Pillow
chromadb

pandas
chromadb
unsloth[cu124-py312]
google-generativeai

peft
trl
bitsandbytes
accelerate
datasets
tqdm

# pip install llama-cpp-python --extra-index-url https://abetlen.github.io/llama-cpp-python/whl/cu124